@pink: #ef5ba1;
@gray: lighten(#000000, 50%);
@max-width: 400px;
.center {
  text-align: center;
}
.center-y {
  display: table;
  span {
    display: table-cell;
    vertical-align: middle;
  }
}

body {
  background-color: #000000;
}

#content {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  width: @max-width;
  height: 1000px;

  hr {
    height: 4px;
    background-color: @pink;
  }

  .logo {
    padding: 20px 0 0 20px;
    width: @max-width - 20px;;
  }

  .title {
    .center;
  }

  .event-detail {
    @margin-y: 40px;
    padding-bottom: 2px;
    margin: 20px @margin-y;
    .title {
      height: 100px;
      font-weight: bolder;
      margin: 0px;
      .center-y;
      .text {
        width: @max-width - (@margin-y * 2);
        .center;
      }
    }
  }

  .all-events {
    margin-top: -20px;
    width: @max-width;
    .date-cell {
      .center-y;
      display: table-cell;
      color: @gray;
      .day {
        padding-left: 20px;
        font-size: 1.8em;
        font-weight: bolder;
      }
      .month {
        padding-left: 3px;
        font-size: x-small;
      }
    }
    .title-cell {
      padding: 10px 20px;
      font-weight: bold;
      text-align: left;
      vertical-align: middle;
    }
  }

  table td {
    vertical-align: top;
  }
}
