<!doctype html>
<html ng-app="eventsApp">
  <head>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script>
      google.load('visualization', '1');
    </script>
    <script type="text/javascript" src="js/eventsController.js"></script>
    <script type="text/javascript" src="js/googleSpreadsheetWrapper.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet" type="text/css" />
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="content" ng-show="events" ng-controller="EventsController">
      <img class="logo" ng-src="/images/thoughtworks.png" />

      <h2 class="title">NYC Events</h2>

      <hr />

      <div class="event-detail">
        <div ng-repeat="event in events" ng-show="currentEvent === event">
          <h3 class="title">
            <span class="text">{{ event.title }}</span>
          </h3>
          <h4 class="date">
            <span class="glyphicon glyphicon-calendar"></span>
            {{ event.date | date : 'fullDate' }}
          </h4>
          <h4 class="time">
            <span class="glyphicon glyphicon-time"></span>
            {{ event.time }}
          </h4>
        </div>
      </div>

      <hr />

      <div class="all-events">
        <table class="table table-striped">
          <tr ng-repeat="event in events">
            <td class="date-cell">
              <span class="day">{{ event.date | date : 'dd'  }}</span>
              <span class="month">{{ event.date | date : 'MMM'  }}</span>
            </td>
            <td class="title-cell">
              <span class="title">{{ event.title }}</span>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </body>
</html>
